//- Colores
$colores: (
	amarillo: 	#FCB612,
	azul: 		#094AB2,
	azul-2: 	#0B29D1,
	azul-3: 	#2FB7F4,
	azul-4: 	#1988F7,
	azul-5: 	#6B96F5,
	blanco: 	#FFFFFF,
	gris: 		#6C6C6C,
	gris-2: 	#969696,
	gris-3: 	#b7b7b7,
	gris-4: 	#DDDDDD,
	marino: 	#001D68,
	marino-2: 	#091941,
	marino-3: 	#22338D,
	morado: 	#6460AA,
	naranja: 	#F36F22,
	negro: 		#000000,
	rojo: 		#D21034,
	rojo-2: 	#F8F7F7,
	rojo-3: 	#CC0529,
	rojo-4: 	#CC1C3D,
	verde: 		#12B04B,
	verde-2: 	#0CB04B,
);