$icons: (
	mas: 				"\e991",
	directorio: 		"\e98c",
	accesibilidad: 	"\e98d",
	mailInst: 		"\e98e",
	pagos: 			"\e98f",
	portalWeb: 		"\e990",
	comments: 		"\e98a",
	heart: 			"\e98b",
	isotipo: 			"\e985",
	cultural: 		"\e986",
	academico: 		"\e987",
	produccion: 		"\e988",
	deportivo: 		"\e989",
	boleto: 			"\e965",
	certificado: 		"\e966",
	llamada: 			"\e967",
	marcador: 		"\e968",
	medalla: 			"\e969",
	reloj: 			"\e96a",
	factura: 			"\e96b",
	calendario: 		"\e96c",
	click: 			"\e96d",
	presentacion: 	"\e96e",
	pin: 				"\e96f",
	misioneros: 		"\e970",
	iglesia: 			"\e971",
	descargar: 		"\e972",
	ojo: 				"\e973",
	estrella: 		"\e974",
	calificaciones: 	"\e975",
	gestion: 			"\e976",
	gestion-escolar: 	"\e977",
	live: 			"\e978",
	configuracion: 	"\e979",
	danza-arabe: 		"\e97a",
	lentes: 			"\e97b",
	acreditar: 		"\e97c",
	alumno-regular: 	"\e97d",
	programas-check: 	"\e97e",
	megafono: 		"\e97f",
	guia: 			"\e980",
	iniciativa: 		"\e981",
	sobre: 			"\e982",
	porcentaje: 		"\e983",
	trato: 			"\e984",
	line-dots: 		"\e953",
	posgrado: 		"\e954",
	prepa: 			"\e955",
	depositos: 		"\e956",
	facturacion: 		"\e957",
	pagos-online: 	"\e958",
	lic: 				"\e959",
	padre-familia: 	"\e95a",
	organizador: 		"\e95b",
	emprendedor: 		"\e95c",
	integracion: 		"\e95d",
	negocio: 			"\e95e",
	alumnos: 			"\e95f",
	doctorado: 		"\e960",
	especialidad: 	"\e961",
	libros: 			"\e962",
	maestria: 		"\e963",
	clases: 			"\e964",
	fe: 				"\e952",
	compras: 			"\e94d",
	arte: 			"\e94e",
	restaurante: 		"\e94f",
	cafe: 			"\e950",
	biblioteca: 		"\e951",
	markFull: 		"\e94c",
	telephone: 		"\e943",
	onSpeaking: 		"\e944",
	offSpeaking: 		"\e945",
	audio: 			"\e946",
	comment: 			"\e947",
	faith: 			"\e948",
	justice: 			"\e949",
	compromise: 		"\e94a",
	fraternity: 		"\e94b",
	play: 			"\e91c",
	link: 			"\e936",
	ym: 				"\e937",
	wp: 				"\e938",
	read: 			"\e939",
	certificate: 		"\e93a",
	school: 			"\e93b",
	speaker: 			"\e93c",
	atom: 			"\e93d",
	bag: 				"\e93e",
	carbuy: 			"\e93f",
	idea: 			"\e940",
	hands: 			"\e941",
	arrowprev: 		"\e942",
	mouse: 			"\e900",
	mail: 			"\e901",
	down: 			"\e902",
	up: 				"\e903",
	right: 			"\e904",
	left: 			"\e905",
	headphones: 		"\e906",
	download: 		"\e907",
	chat: 			"\e908",
	books: 			"\e909",
	calculator: 		"\e90a",
	wrong: 			"\e90b",
	conversation: 	"\e90c",
	correct: 			"\e90d",
	error: 			"\e90e",
	interchange: 		"\e90f",
	conectivity: 		"\e910",
	video: 			"\e911",
	desktop: 			"\e912",
	document: 		"\e913",
	stethoscope: 		"\e914",
	student: 			"\e915",
	smartphone: 		"\e916",
	pencil: 			"\e917",
	sitemap: 			"\e918",
	medal: 			"\e919",
	microphone: 		"\e91a",
	wireless: 		"\e91b",
	fountain: 		"\e91d",
	feather: 			"\e91e",
	pen: 				"\e91f",
	pentwo: 			"\e920",
	watercolor: 		"\e921",
	search: 			"\e922",
	security: 		"\e923",
	consult: 			"\e924",
	sound: 			"\e925",
	files: 			"\e926",
	upload: 			"\e927",
	close: 			"\e928",
	arrow: 			"\e929",
	mark: 			"\e92a",
	time: 			"\e92b",
	phone: 			"\e92c",
	share: 			"\e92d",
	seeker: 			"\e92e",
	fb: 				"\e92f",
	tw: 				"\e930",
	yt: 				"\e931",
	ig: 				"\e932",
	in: 				"\e933",
	sc: 				"\e934",
	chk: 				"\e935"
);

.icon {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@each $class, $code in $icons {
		&-#{$class} {
			&:before {
				content: '#{$code}';
			}
		}
	}
}
