//- Media queries (map, donde se coloca todos los puntos de quiebre)
$responsive: (
	desktop:			1200px,
	tablet-landscape:	1024px,
	tablet-portrait:	960px,
	tablet:				768px,
	phablet:			740px,
	lgmobile:			640px,
	mobile:				568px,
	mobile-landscape:	480px,
	mobile-portrait:	320px,
);
